.apy_list .item {
    position: relative;
    overflow: hidden;
  }
  .apy_list .item textarea {
    padding: 10px;
    margin-top: 10px;
    resize: none;
    width: 90%;
    height: 180px;
    margin-left: 5%;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ecedf1;
  }
  .apy_list .item input {
    width: 90%;
    margin-left: 5%;
    height: 42px;
    text-indent: 8px;
  } 
  a.feedback {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    height: 46px;
    line-height: 46px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
  }
  