@import url(/tiancaibao/style/swiper.css);
.pt51{
  padding-top: 51px;
}
.pb50{
  padding-bottom: 50px;
}
.txind{
  text-indent: 24px;
}
.nav_head{
  width: 100%;
  height: 42px;
  line-height: 42px;
}
.nav_head a {
  display: inline-block;
  width: 48%;
  height: 40px;
  line-height: 42px;
  color: #333943;
}
.nav_head a.cur {
  font-weight: bold;
  font-size: 16px;
}
.corB{
  color:#1ec0ff;
}
/*.nav_head a.cur:after{*/
  /*display: block;*/
  /*content: '';*/
  /*border-bottom: 2px solid #333943;*/
  /*position: absolute;*/
  /*width: 12px;*/
  /*height: 0;*/
  /*left: 50%;*/
  /*margin-left: -6px;*/
  /*bottom: 5px;*/
/*}*/
.mr{
  margin-right:15%;
}
.containt_top {
  width: 100%;
  height: 210px;
  background: #fffef2 url("http://weixin.51tiancai.com/tiancaibao/pages/invest/radomBg.png") no-repeat bottom center;
  background-size: 100% 50%;
  padding-top:  36px;
  box-sizing: border-box;
}
.pb80{
  padding-bottom: 130px;
}
.bg:after{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/index/images/3_03.png") no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.bgred{
  background: #f24c2c;
  color: #FFFFFF;
}
a.bgred:hover,a.bgred:active,a.bgred:link{
  color: #FFFFFF;
}
/* .containt_top .b_style{
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.containt_top .b_style{
  width: 140px;
  height: 140px;
  margin-top: 20px;
  -moz-box-shadow: 0px 0px 20px 2px #fcdc80;
  -webkit-box-shadow: 0px 0px 20px 2px #fcdc80;
  box-shadow: 0px 0px 20px 2px #fcdc80;
}
.containt_top h1 {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  overflow: hidden;
}
.containt_top h1 span {
  display: block;
}
.al_list {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 7px 7px 46px;
} */
.al_list .tab_box {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.instruction{
  width:100%;
  height: 168px;
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/instruction.png") no-repeat center;
  background-size: 100% 100%;
  border-radius:5px;
}
.instruction p{
  width:80%;
  margin-left: 10%;
}
.content_t {
  width: 100%;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}
.ins{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/white_bg.png") no-repeat center;
  background-size: 100% 100%;
  border-radius:5px;
  padding:15px;
  position: relative;
}
.ins h2{
  height: 22px;
  line-height: 22px;
  padding-bottom: 5px;
  text-indent: 5px;
}
.ins>a>div{
  overflow: hidden;
  margin: 5px 0;
}
.ins>a>div>div{
  width:40%;
}
.hotSign{
  color: #FFFFFF;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ff7568), to(#fea679));
    background: -moz-linear-gradient(left, #ff7568, #fea679);
    background: -o-linear-gradient(left, #ff7568, #fea679);
    padding: 1px 3px;
    border-radius: 20px;
    margin-right: 5px;
    line-height: 16px;
    font-size: 12px;
}
.ins>div{
  width:90px;
  height: 32px;
    position: absolute;
    top:58px;
    right:15px;
    text-align: center; 
}
.ins>div>a{
  display: block;
  width:100%;
  height: 32px;
  line-height: 32px;
  border-radius:20px;
  margin:0 auto;
  background: #ffe200;
}
.infro{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/white_bg.png") no-repeat center;
  background-size: 100% 100%;
  border-radius:5px;
  margin-top: -9px;
  padding-bottom: 26px;
 /* margin-bottom: 54px;*/
}
.infro>h2{
  line-height: 44px;
  padding-top: 15px;
}
.title{
  border:1px solid #ececec;
  width:90%;
  height:35px;
  margin:0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.infro .list_l{
  width:100%;
  height: 180px;
  margin:0 auto;
  overflow: hidden;
  margin-bottom: 29px;
}
.infro ul{
  width:90%;
  margin:0 auto;
  height: 180px;
}
.title>span{
  display: inline-block;
  font-size: 12px;
  line-height: 35px;
  font-weight: bold;
  color: #333943;
  text-align: center;
}
.infro ul li{
  border-bottom: 1px solid #ececec;
  border-left:1px solid #ececec;
  border-right:1px solid #ececec;
  position: relative;
}
.infro ul li i{
  position: absolute;
  width:4px;
  height: 4px;
  border-radius:50%;
  top:14px;
  left:10px;
  background: #ff5f33;
}
.infro ul span{
  display: inline-block;
  font-size: 12px;
  line-height: 35px;
  font-weight: bold;
  color: #333943;
  text-align: center;
}
.infro .list_l span{
  font-weight: normal;
  color:#556677;
}
.infro .num1{
  width:20%;
}
.infro .num2{
  width:28%;
}
.content_t ul li a {
  display: inline-block;
  width: 33.3%;
  float: left;
  line-height: 25px;
  overflow: hidden;
  box-sizing: border-box;
}
.content_t ul li a.bor_r{
  border-left: 1px dashed #9facc4;
  border-right: 1px dashed #9facc4;
}
.content_t ul li a .icn {
  width: 26px;
  height: 25px;
  background: url("http://weixin.51tiancai.com/tiancaibao/images/icon/invest_03.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.content_t ul li a .icn img {
  display: inline-block;
  width: 100%;
}
.content_t ul li a i.y_1 {
  background-position: 0 0;
}
.content_t ul li a i.s_q {
  background-position: -53px 0;
}
.content_t ul li a i.safe_3 {
  width: 23px;
  height: 23px;
  background: url("http://weixin.51tiancai.com/tiancaibao/images/icon/invest_04.png") no-repeat center center;
   -webkit-background-size: cover;
  background-size: cover;
}
.content_t ul li a span {
  margin-left: 1px;
}
.b_bor{
  border-bottom: 1px solid #ededed;
}
.content_t ul li .runing {
  width: 100%;
  height: 12px;
  background: #ecedf1;
  border-radius: 20px;
}
.content_t ul li .runing p {
  width: 100%;
  height: 12px;
  background: #fdb73d;
  border-radius: 20px;
}
.content_t ul li .runing p i {
  display: block;
  width: 22px;
  height: 22px;
  background: url("http://weixin.51tiancai.com/tiancaibao/images/run.png") no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  right: 0;
  top: -5px;
}
.all_t {
  background: #f1f5f8;
}
.containerWra{
  width: 100%;
  height: 218px;
  background: #fffef2 url("http://weixin.51tiancai.com/tiancaibao/pages/invest/radomBg.png") no-repeat bottom center;
  background-size: 100% 50%;
}
.container_wra {
  width: 100%;
  height: 218px;
  padding-top: 15px;
  background-image: url(http://weixin.51tiancai.com/tiancaibao/pages/index/images/water.gif);
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-background-size: 100%;
  background-size: 100%;
  color: #fff;
  float: left;
}
.container_wra h1 {
  line-height: 24px;
  padding-top: 30px;
}
.container_wra h1 span {
  display: block;
}
.container_wra h1 span.onces{
  width: 166px;
  margin: 0 auto;
}
.container_wra h1 a.btn {
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background: #ffe200;
}
.list_wra {
  width: 100%;
}
/* a.submit {
  position: fixed;
  bottom: 49px;
  width: 100%;
  max-width: 600px;
  height: 46px;
  line-height: 46px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
} */
a.attorm{
  display: block;
  width: 50%;
  height: 35px;
  line-height: 35px;
  margin-left: auto;
  margin-right: auto;
  background: #ffe200;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #333943;
  border-radius: 5px;
}
.news_eye{
  width: 100%;
  height: 36px;
  background: rgb(255, 255, 255);
  z-index: 500;
  overflow: hidden;
}
.news_eye ul.news_list {
  display: inline-block;
  width: 80%;
  line-height: 36px;
  margin-left: 3%;
  overflow: hidden;
}
.news_eye ul.news_list a{
  color: #333943;
}
.lb {
  background-image: url("http://weixin.51tiancai.com/tiancaibao/pages/index/images/lb02.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 9px;
  left: 5%;
}

.l_bor{
/*  border-left: 1px solid #333943;*/
}
.l_borft{
  border-left: 1px solid #fff;
}
/*#opacities{
  opacity: 0;
  height:200px;
}*/

/*收益计算机弹框*/
.mask {
  height: 100%;
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.mask-wrap {
  height: 240px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  background: #fff;
  bottom: 0;
}
.mask-wrap h1 {
  background-color: #ffe200;
}
.mask-wrap ul {
  line-height: 48px;
}
.mask-wrap ul li {
  height: 48px;
  border-bottom: 1px solid #ecedf1;
}
.close_mask {
  width: 50px;
  height: 50px;
  right: 0;
  top: 2px;
}
/*债转区*/
.sign_b{
  right: 0;
  top: -18px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1px 8px;
  height: 16px;
  line-height: 16px;
}
.prj_bg{
  width: 100%;
  overflow: hidden;
}
.prj_t{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333943;
  padding: 0 10px 0 10px;
  /*text-align: justify;*/
}
.prj_li{
  width: 100%;
  margin-top: 10px;
  background: #FFFFFF;
  overflow: hidden;
}
.prj_p{
  width: 100%;
  border-top: 1px solid #ecedf1;
  padding: 10px 15px;
  clear: both;
  overflow: hidden;
}
.prj_w{
  line-height: 40px;
  font-size: 14px;
  color: #333943;
  padding: 10px 10px 5px 0px;
}
.half_a{
  width: 42%;
  height: 50px;
  margin-bottom: 15px;
}
.rate_t{
  color: #fd4a44;
  height: 30px;
  line-height: 35px;
}
.prj_inf{
  color: #9facc4;
}
.detail_t{
  color: #556677;
  height: 30px;
  line-height: 35px;
}
/*散标产品*/
.circle {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  border-radius: 50%;
  background: #ffe200;
}
.pie_left, .pie_right {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;left: 0;
}
.left, .right {
  display: block;
  width:50px;
  height:50px;
  background: #ecedf1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  /*transition:all 5s;*/
  /*transform: rotate(30deg);*/
}
.pie_right, .right {
  clip:rect(0,auto,auto,25px);
}
.pie_left, .left {
  clip:rect(0,25px,auto,0);
}
.mask_std {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  left: 4px;
  top: 4px;
  background: #FFF;
  position: absolute;
  text-align: center;
  line-height: 42px;
  font-size: 12px;
}

/*圆环*/
.white_bg{
  background: #ffffff;
}
.line_hgt33{
  line-height:33px;
}
.new_tit{
  line-height: 28px;
  padding: 10px 15px;
  border-bottom: 1px solid #ecedf1;
}
.new_tit::before{
  display: block;
  content: '';
  width: 3px;
  height: 18px;
  background: #1ec0ff;
  position: absolute;
  left: 0;
  top: 16px;
}
.bor_t{
  border-top: 1px solid #ecedf1;
}
.squered_1{
  padding-top:3px;
  padding-bottom:2px;
  padding-left:0;
  border:1px solid #f24c2c;
  border-radius: 10px;
}
.hot_box{
  height:25px;
  width:25px;
  margin-top:-4px;
  margin-left:-2px;
  background-size: contain;
  background: url('http://weixin.51tiancai.com/tiancaibao/pages/index/images/hot_box.png') no-repeat left;
}
.inform{
  background: #ffffff;
  border-radius:5px;
  position: relative;
  width:93%;
  margin: 10px auto 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
.inform h2{
  font-size: 12px;
  color:#333943;
  line-height: 44px;
  padding-top: 5px;
  padding-left: 16px;
}
.inform img{
  width:8px;
  height: 14px;
  position: absolute;
  top:16px;
  right:15px;
  padding: 5px;
}
.inform img.active{
  transform: rotate(90deg); 
}
.inform p{
  padding: 20px 30px 25px 30px;
  color:#556677;
  font-size: 12px;
  border-top:1px solid #ececec;
}
.std_rate{
    overflow: hidden;
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/white_bg.png") no-repeat center;
  background-size: 100% 100%;
  border-radius:5px;
}
@media screen and (max-width:320px){
  .std_rate{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.wordBreak{
  word-break: break-all;
}
.std_in{
  width:33%;
}
.std_in1{
  width:44%;
  position: relative;
}
.std_in1:after{
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  right: 24px;
  top: 5px;
}
@media screen and (max-width: 320px) {
  .std_in1:after{
    right: 10px;
  }
  .std_in1{
  width:45%;
  position: relative;
}
}
.std_in1 p:nth-child(1){
  height: 33px;
  line-height: 33px;
}
.std_in2{
  width: 36%;
}
@media screen and (max-width: 320px) {
.std_in2{
  width: 36%;
}
}
.std_in3{
  width: 18%;
  height: 50px;
  text-align: right;
  position: relative;
  overflow: hidden;
}
.total_num{
  clear:both;
  border-top:1px solid #ecedf1;
  border-bottopm:1px solid #ecedf1;
  background: #fff;
  overflow: hidden;
  text-align: center;
}
.total_text{
  color:#a0abbb;
  font-size: 12px;
}
.total_data{
  /*margin-top:5px;*/
  color:#fd4a44;
  font-size:14px;
}
.total_left{
  width:50%;
  border-right:1px solid #ecedf1;
  padding-top:15px;
  padding-bottom:10px;
}
.total_right{
  width:49%;
  padding-top:15px;
  padding-bottom:10px;
}
.intro_box{
  padding-top:20px;
  padding-bottom: 10px;
  overflow: hidden;
}
.intro{
  width:33.3%;
  color:#a0abbb;
  font-size:12px;
  text-align: center;
}
.intro_img{
  width:35px;
  height:35px;
}
.prj_m{
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  margin-left: 10px;
  border: 1px solid #ecedf1;
}
.prj_h{
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid #1ec0ff;
}
#seced{
  background: #1ec0ff;
  color: #FFFFFF;
}

.tab_css h1{
  text-indent: 10px;
  position: relative;
  padding-top: 10px;
}
.tab_css h1:before{
  display: block;
  content: '';
  width: 0px;
  height: 14px;
  border-right: 4px solid #1ec0ff;
  position: absolute;
  left: 0px;
  top: 17px;
}
.tab_css h2 p{
  position: relative;
  text-indent: 18px;
  overflow: hidden;
}
.tab_css h2 p:nth-child(1):before{
  display: block;
  content: '';
  width: 0px;
  height: 14px;
  border-right: 4px solid #1ec0ff;
  position: absolute;
  left: 0px;
  top: 8px;
}
.tab_css h2 span{
  display: inline-block;
  width: 85px;
  float: left;
}
.tab_css table{
  width: 100%;
  border-right: 1px solid #a0abbb;
  border-bottom: 1px solid #a0abbb;
  margin-top: 10px;
}
.tab_css table td{
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  line-height: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.tab_css table th,.tab_css table td{
  border-left:1px solid #a0abbb;
  border-top:1px solid #a0abbb;
}
.tab_css table td span{
  display: block;
}
.hotSign{
  color: #FFFFFF;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ff7568), to(#fea679));
  background: -moz-linear-gradient(left, #ff7568, #fea679);
  background: -o-linear-gradient(left, #ff7568, #fea679);
  padding: 1px 10px;
  border-radius: 20px;
}
.hotFont{
    display: inline-block;
    padding: 0 4px;
    border: 1px solid #ff5f33;
    height: 16px;
    line-height: 16px;
}
.wayBom{
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  color: #a0abbb;
  border: 1px solid #a0abbb;
  border-radius: 50%;
  margin-right: 5px;
}
.w90{
  width: 80%;
}
.corBg{
  border-bottom: 1px solid #ecedf1;
}
.grayBg{
  background: #f1f5f8;
}
.whiteBg{
  background: #ffffff;
}
.containt_top h1 .addInterest{
    display: none;
}
.addInterest .interestNum{
    vertical-align: middle;
}
.apy_list .tc th{
  background: #f1f5f8;
  border:1px solid #f5f5f5;
}
.apy_list .tc td{
  border:1px solid #f5f5f5;
}
#h01{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/产品说明.png") no-repeat left 7px ;
  background-size:13px 13px ;
}
#h02{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/产品优势.png") no-repeat left 7px ;
  background-size:13px 13px ;
}
#h03{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/产品收益.png") no-repeat left 7px ;
  background-size:14px 14px ;
}
#h04{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/买入额度.png") no-repeat left 7px ;
  background-size:13px 13px ;
}
#h05{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/加入条件.png") no-repeat left 8px ;
  background-size:12px 12px ;
}
#h06{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/期限.png") no-repeat left 7px ;
  background-size:14px 14px ;
}
#h07{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/获得收益.png") no-repeat left 7px ;
  background-size:14px 14px ;
}
#h08{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/到期处理.png") no-repeat left 8px ;
  background-size:12px 12px ;
}
#h09{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/转出规则.png") no-repeat left 7px ;
  background-size:13px 13px ;
}
#h10{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/提现.png") no-repeat left 7px ;
  background-size:13px 13px ;
}
#h11{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/费用.png") no-repeat left 8px ;
  background-size:13px 13px ;
}
#h12{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/问号.jpg") no-repeat left 7px ;
  background-size:14px 14px ;
}
#h13{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/到账.jpg") no-repeat left 7px ;
  background-size:13px 13px ;
}
#h14{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/时间.jpg") no-repeat left 7px ;
  background-size:14px 14px ;
}
#h15{
  background: url("http://weixin.51tiancai.com/tiancaibao/pages/invest/images/限制.png") no-repeat left 7px ;
  background-size:14px 14px ;
}